<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-title>Inscription</ion-title>
  </ion-toolbar>  -->
</ion-header>

<ion-content padding>

    <ion-slides pager="false" #slides>
        <ion-slide>
            <ion-grid>
                <ion-row>
                
                        <ion-button col-6 outline="true" type="button" color="primary" class="btn "  (click)="goToSlideOne()">Inscription</ion-button>
                            <ion-button col-6 outline="true" type="button" color="primary" class="btn " (click)="goToSlideTwo()">Connexion</ion-button>
                       
          
                </ion-row>
               <ion-row>
                  <mdb-card >
        
                      <!-- <mdb-card-header class="primary-color white-text text-center py-4">
                        <h5>
                          <strong>Inscription</strong>
                        </h5>
                      </mdb-card-header> -->
                    
                      <!--Card content-->
                      <mdb-card-body class="px-lg-5 pt-0">
                    
                        <!-- Form -->
                        <form class="text-center" style="color: #757575;">
                    
                          <div class="form-row">
                            <div class="col">
                              <!-- First name -->
                              <div class="md-form">
                                <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput>
                                <label for="materialRegisterFormFirstName">Nom</label>
                              </div>
                            </div>
                            <div class="col">
                              <!-- Last name -->
                              <div class="md-form">
                                <input type="email" id="materialRegisterFormLastName" class="form-control" mdbInput>
                                <label for="materialRegisterFormLastName">Prénom</label>
                              </div>
                            </div>
                          </div>
                    
                          <!-- E-mail -->
                          <div class="md-form mt-0">
                            <input type="email" id="materialRegisterFormEmail" class="form-control" mdbInput>
                            <label for="materialRegisterFormEmail">E-mail</label>
                          </div>
                    
                          <!-- Password -->
                          <div class="md-form">
                            <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
                              mdbInput>
                            <label for="materialRegisterFormPassword">Mot de passe</label>
                           
                          </div>
                    
                          <!-- Phone number -->
                          <div class="md-form">
                            <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
                              mdbInput>
                            <label for="materialRegisterFormPhone">Numéro de téléphone</label>
                            
                          </div>
                    
                          <!-- Newsletter -->
                          <mdb-checkbox>Subscribe to our newsletter</mdb-checkbox>
                    
                          <!-- Sign up button -->
                          <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
                            type="submit">S'inscrire</button>
                    
                          <!-- Social register -->
                          <p>ou inscrivez-vous avec:</p>
                    
                          <a type="button" class="light-blue-text mx-2">
                              <mdb-icon fab icon="facebook"></mdb-icon>
                            </a>
                            <a type="button" class="light-blue-text mx-2">
                              <mdb-icon fab icon="twitter"></mdb-icon>
                            </a>
                          
                    
                          <hr>
                    
                          <!-- Terms of service -->
                          <p>En clickant
                            <em>S'inscrire</em> vous acceptez nos
                            <a href="" target="_blank">conditions d'utilisation</a>. </p>
                    
                        </form>
                        <!-- Form -->
                    
                      </mdb-card-body>
                    
                    </mdb-card>
               </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
           <ion-grid>
              <ion-row>
                  <div class="div-client-intro">
                      <span class="span-header-client current-span-header" (click)="goToSlideOne()">Inscription</span>
                            <span class="span-header-client" (click)="goToSlideTwo()">Connexion</span>
                       
                    </div>
               </ion-row>
                <ion-row>
                   
                 
                          <!-- <mdb-card-header class="primary-color white-text text-center py-4">
                            <h5>
                              <strong>Inscription</strong>
                            </h5>
                          </mdb-card-header> -->
                        
                          <!--Card content-->
                          <mdb-card-body class="px-lg-5 pt-0">
                        
                            <!-- Form -->
                            <form class="text-center">
                        
                           
                        
                              <!-- E-mail -->
                              <div class="md-form mt-0">
                                <input type="email" id="materialRegisterFormEmail" class="form-control" mdbInput>
                                <label for="materialRegisterFormEmail">E-mail</label>
                              </div>
                        
                              <!-- Password -->
                              <div class="md-form">
                                <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
                                  mdbInput>
                                <label for="materialRegisterFormPassword">Mot de passe</label>
                               
                              </div>
                        
                        
                              <!-- Sign up button -->
                              <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
                                type="submit">S'inscrire</button>
                        
                              <!-- Social register -->
                              <p>ou inscrivez-vous avec:</p>
                        
                              <a type="button" class="light-blue-text mx-2">
                                  <mdb-icon fab icon="facebook"></mdb-icon>
                                </a>
                                <a type="button" class="light-blue-text mx-2">
                                  <mdb-icon fab icon="twitter"></mdb-icon>
                                </a>
                              
                        
                              <hr>
                        
                             
                            </form>
                            <!-- Form -->
                        
                          </mdb-card-body>
                       
                </ion-row>
           </ion-grid>
        </ion-slide>
      
      </ion-slides>
<!-- Material form register -->

  <!-- Material form register -->
</ion-content>
